header {
  width: 100%;
}

.sticky-wraper {
  height: 60px;
}

.sticky-nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #26292E;
  z-index: 1001;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}









.bg-dark {
  background-color: #26292E !important;
}

.navbar .nav-item .nav-link {
  color: #FFFFFF;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar .nav-item .nav-link:hover {
  color: #DE5E60 !important;
}

.navbar .nav-item.active .nav-link {
  color: #DE5E60;
}

.navbar .navbar-nav:hover .nav-item .nav-link {
  color: #fff;
}












.navbar-toggler {
  margin-right: 10px;
  margin-top: 5px;
  border: 0 !important;
  height: 55px;
}

.nav-link-red {
  color: #DE5E60;
}

.nav-link a:hover {
  color: #DE5E60;
}

.nav-link a:active {
  background-color: blue;
}

.page {
  background-color: #2F3238;
  padding: 100px 0;
  color: #fff;
}
/*
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1270px !important;
}*/

.title-page {
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 60px;
}

.title-description {
  font-size: 26px;
}

.title-description a {
  color: #DE5E60;
}

.title-description a:hover {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 46px;
  margin-bottom: 20px;
}

.title-work {
  color: white;
  font-size: 26px;
  padding-top: 0 !important;
}

.option-set {
  list-style: none;
}

.option-set a {
  text-decoration: none;
  color: #7F8289;
}

.option-set a:hover {
  color: white;
  text-decoration: none;
}

.option-set a.selected {
  color: #DE5E60;
}

.option-set ul, .option-set li {
  padding-top: 40px;
  line-height: 20px;
}

/*.work-nav {
  align-items: flex-start;
  width: 270px;
  height: 325px;
  padding-top: 30px;
}*/

/*.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 970px;
}*/

.gallery .item {
  list-style: none;
  width: 100%;
  height: 250px;
  background-color: white;
  margin-bottom: 30px;
}

/*.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 40px;
}*/